<%
const config = {
    title: 'top',
    description: 'This is top page',
    styles: [],
    scripts: [],
};
%>

<%- include('./common/_head.ejs', { ...config }) %>

<ul>
    <li><a href="w001-016.html">w001-016.html</a></li>
<% [...Array(2).keys()].map(index => `000${index + 17}`.slice(-3)).forEach(index => { %>
    <li><a href="w<%= index %>.html">w<%= index %></a></li>
<% }) %>
</ul>
<%- include('./common/_foot.ejs', { ...config }) %>
